<header>
    Page Header

    <ul>
        <% if(locals.user){ %>
        <li>
            <a href="/api/user/get-user"><%= user.name %></a>
        </li>
        <li>
            <a href="/api/poll/created-polls">My Polls</a>
        </li>
        <li>
            <a href="/api/auth/destroy-session">Log Out</a>
        </li>
        <% }else{ %> <% } %>
    </ul>
</header>
