<p><%= user.name %></p>
<p><%= user.email %></p>

<h2>Join Poll</h2>
<form action="" method="post">
    <input type="text" name="" id="" class="" />
</form>
<hr />
<br />
<h2>Create Poll here</h2>

<form action="" method="post">
    <p>
        <label for="description">Description</label>
        <input type="text" name="description" id="description" />
    </p>
</form>
