<form action="/login-user" method="POST" id="login-form">
    <input type="email" name="email" id="email" placeholder="E-mail" required />
    <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
    />
    <button type="submit" id="login-btn">LOG IN</button>
</form>
