<form action="/api/poll/add-poll" method="POST" id="poll-form">
    <input
        type="text"
        id="description"
        ,
        placeholder="Poll Description"
        ,
        name="description"
        required
    />
    <input
        type="text"
        id="o_description"
        ,
        placeholder="Option1"
        ,
        name="o_description"
        required
    />
    <input
        type="text"
        id="o_description"
        ,
        placeholder="Option2"
        ,
        name="o_description"
        required
    />

    <button type="submit" id="create-poll-btn">Create Poll</button>
</form>
