<div class="container">
    <form action="/api/auth/create-user" method="POST" id="signup-form">
        <input
            type="text"
            id="name"
            ,
            placeholder="Name"
            ,
            name="name"
            required
        />
        <input
            type="email"
            id="email"
            ,
            placeholder="E-mail"
            ,
            name="email"
            required
        />
        <input
            type="password"
            name="password"
            id="password"
            ,
            placeholder="Password"
            required
        />

        <button type="submit" id="login-btn">SIGN UP</button>
    </form>

    <!-- <%- include('log_in') %> -->
    <p>
        Already a member?

        <br />
        <a href="log-in">LOGIN HERE</a>
    </p>
</div>
